<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/angular.min.js"></script>
    <script src="/static/angular-route.js"></script>


    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet"/>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Nhattx BetaSite</title>
    {% else %}
    <title>Still Nhattx BetaSite</title>
    {% endif %}
</head>
<body>
    <div>
        <p>Headerrrr</p>
    </div>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        {% if username %}
            <b>{{ username }}</b>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
    <hr>
    <div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
    {% block content %}{% endblock %}
    {% block script %} {% endblock %}
    <hr>
    <div>
        <p>Footerrrr</p>
    </div>
</body>
</html>